
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<section class="vh-100 bg-image"
         style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg'); ">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Login</h2>

                            <form>

                                <div class="form-outline mb-4">
                                    <input type="text" name="form3Example4cg" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example4cg">Username</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" name="form3Example4cdg" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example4cdg">Password</label>
                                </div>

                                <div class="form-check d-flex justify-content-center mb-5">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                                    <label class="form-check-label" for="form2Example3g">
                                        Remember password <a href="#!" class="text-body"><u>Forgot Password</u></a>
                                    </label>
                                </div>

                                

                                <button type="submit" class="btn btn-success btn-lg btn-block">Sign in</button>

                                <div class="divider d-flex align-items-center my-4">
                                    <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                                </div>

                                <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!"
                                   role="button">
                                    <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
                                </a>
                                <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!"
                                   role="button">
                                    <i class="fab fa-twitter me-2"></i>Continue with Twitter
                                </a>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

